body {
  background: #eee;
  font-family: sans-serif;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  font-size: 40px;
}

.button-container {
  text-align: center;     /*text-align works with block elements, since they take up the full width of its parent container */
}

.card {
  background: #fff;
  margin: 40px 200px;
  padding: 20px 16px 1px; 
} 

.button-container, 
.content,
.title {
  margin-bottom: 15px;
  background: #e3f4ff;
  padding: 15px;
  font-size: 40px;
}